<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculator</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      Hasil: {{ hasil }}
      <br />
      <input type="number" v-model="angka1" />
      <input type="number" v-model="angka2" />
      <button v-on:click="hasil=angka1+angka2">+</button>
      <button v-on:click="hasil=angka1-angka2">-</button>
      <button v-on:click="hasil=angka1*angka2">*</button>
      <button v-on:click="hasil=angka1/angka2">/</button>
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data() {
          return {
            angka1: 0,
            angka2: 0,
            hasil: 0,
          };
        },
      });
    </script>
  </body>
</html>
